body {
  margin: 20px;
}

.board-row {
  display: flex;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.piece {
  width: 85%;
  height: 85%;
}

.square {
  border: 1px solid rgb(17, 17, 17);
  float: left;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  height: 4rem;
  width: 4rem;
}

.square.light {
  background: rgb(223, 196, 171);
}

.square.dark {
  background: rgb(44, 91, 153);
}

.game {
  display: flex;
}

.game-mobile {
  padding-top: 2rem;
}

.main-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 16px;
  font-weight: 300;
}

.second-title {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 150;
}

.game-info {
  margin-left: 20px;
}

.button_cont {
  margin-top: 1px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
}

.button {
  color: #494949 !important;
  background: #ffffff;
  border: 1px solid #494949 !important;
  border-radius: 3px;
}

.button:hover {
  color: #494949 !important;
  border-radius: 50px;
  transition: all 0.4s ease 0s;
}

.button-newgame {
  padding: 5px;
}

button:focus {
  outline: 0;
}

.input {
  width: 30rem;
}
